.rengecenter {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.v-center {
    width:1024px;
}
.miaopasi {
  margin-top: 10px;
}

.markdown-tag {
  color: #c7254e;
  background-color: #f2f2f2;
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}