.reward {
    padding: 5px 0
}

.reward .reward-notice {
    font-size: 1pc;
    line-height: 1pc;
    margin: 15px auto;
    text-align: center
}

.reward .reward-button {
    line-height: 60px;
    position: relative;
    width: 108px;
    margin: 0 auto;
}

.reward .reward-code {
    position: absolute;
    top: -210px;
    left: 50%;
    display: none;
    width: 350px;
    height: 200px;
    margin-left: -175px;
    border: 1px solid #e6e6e6;
    background: #fff;
    box-shadow: 0 1px 1px 1px #efefef
}

.reward .reward-button:hover .reward-code {
    display: block
}

.reward .reward-code img {
    display: inline-block;
    float: left;
    margin: 0 auto;
    border: 0
}