---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 align="center" class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <h4 class="text-right"><small><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%F" }}</time></small></h4>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% include tags.html %}

  <div class="reward plxiaoshi" style="margin:50px 0px;">
	<div class="reward-button">
		<img class="aligncenter size-medium box-hide box-show" src="/images/shang.png" width="60px" height="60px">
		<span class="reward-code"><img src="/images/pay.png" width="440px" height="250px"></span>
	</div>
	<p class="reward-notice" style="color:#F44336>
		如果文章对你有帮助，请博主喝杯咖啡吧！
	</p>
 </div>

  

</article>
