---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 align="center" class="post-title" itemprop="name headline"  style="font-size:28px;">{{ page.title }}</h1>
    <h4 class="text-right"><small><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%F" }}</time></small></h4>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% include tags.html %}

  <div class="reward plxiaoshi" style="margin:50px 0px;">
	<div class="reward-button">
		<img class="aligncenter size-medium box-hide box-show" src="/images/shang.png" width="60px" height="60px">
		<span class="reward-code"><img src="/images/pay.png" width="440px" height="250px"></span>
	</div>
	<p class="reward-notice" style="color:#F44336">
		如果文章对你有帮助，请博主喝杯咖啡吧！
	</p>
 </div>


 <!--评论区-->
 <div id="gitalk-container"></div>

 <script type="text/javascript">

 	const gitalk = new Gitalk({
	  clientID: '4c1d2fc43c7dd308593a',
	  clientSecret: '793d56faad087ad77a419c15649aba77f8829277',
	  repo: '评论内容',      // The repository of store comments,
	  owner: 'chaojunma',
	  admin: ['chaojunma'],
	  id: location.pathname,      // Ensure uniqueness and length less than 50
	  distractionFreeMode: false  // Facebook-like distraction free mode
	})

	gitalk.render('gitalk-container')

 </script>
  

</article>
